<div class="mb-3">
                <label class="form-label">Graduação / Posto</label>
                <select name="graduacao" class="form-select" required>
                    <option value="" disabled selected>Selecione sua graduação...</option>
                    <option value="SD BM">Soldado (SD BM)</option>
                    <option value="CB BM">Cabo (CB BM)</option>
                    <option value="3º SGT BM">3º Sargento (3º SGT BM)</option>
                    <option value="2º SGT BM">2º Sargento (2º SGT BM)</option>
                    <option value="1º SGT BM">1º Sargento (1º SGT BM)</option>
                    <option value="SUB TEN BM">Subtenente (SUB TEN BM)</option>
                    <option value="ASP BM">Aspirante (ASP BM)</option>
                    <option value="TEN BM">Tenente (TEN BM)</option>
                    <option value="CAP BM">Capitão (CAP BM)</option>
                    <option value="MAJ BM">Major (MAJ BM)</option>
                    <option value="TC BM">Tenente-Coronel (TC BM)</option>
                    <option value="CEL BM">Coronel (CEL BM)</option>
                </select>
            </div>
